<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <h1 class="example-app-name">Axiom Setup</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav opened mode="side" class="example-sidenav">
        <mat-nav-list >
            <a mat-list-item *ngFor="let section of sections" (click)="OpenSection(section)">{{section.heading}}</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="sectionHeader" *ngIf="selectedSection">{{selectedSection.heading}}</div>
      <div class="sectionContent">
        <ul *ngIf="selectedSection">
            <li *ngFor="let step of selectedSection.steps" [className]="step.isstep ? '' : 'noBullets'">
                <ng-container *ngIf="step.isHyperlink">
                    <a [attr.href]="step.details">{{step.details}}</a>
                </ng-container>
                <ng-container *ngIf="!step.isHyperlink">
                    {{step.details}}
                </ng-container>
            </li>
        </ul>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
